{{>adminNavbar}}
<section class=" admin-section d-flex gap-5">
    {{>adminSideBar}}
    <div class="vw-100 main px-5 pt-5 content-admin justify-content-center">
        {{#if productAdded}}
        <div class="p-3 text-success alert alert-success alert-dismissible fade show d-flex align-items-center"
            role="alert">
            <span class="material-icons-sharp">
                check_circle
            </span> <strong> Success!!,</strong> Product added
            <button type="button" class="btn-close p-4" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}

        <form id="addProductForm" method="post" action="/admin/add-product" class="d-dlex justify-contents-center box-shadow p-5 mb-5"
            enctype="multipart/form-data">
            <fieldset class="px-5">

                <!-- Form Name -->
                <legend class="mb-4">ADD PRODUCTS</legend>
                <div class="container d-flex align-items-center ">
                    <!-- PRODUCT NAME -->

                    <div class="form-group mb-4 m-3 px-3 p-2">
                        <label class="col-md-4 control-label mb-3" for="product_name">PRODUCT
                            NAME</label>

                        <input type="text" id="email" name="name" placeholder="PRODUCT NAME"
                            class="form-control form-control-lg px-3" style="width: 100%;border-radius:25px" required />
                    </div>

                    <!-- PRODUCT PRICE -->

                    <div class="form-group mb-4 m-3 px-3 p-2">
                        <label class="col-md-4 control-label mb-3" for="product_price">PRODUCT
                            PRICE</label>

                        <input type="number" min="1" id="email" name="price" placeholder="PRODUCT PRICE"
                            class="form-control form-control-lg px-3" style="width: 100%;border-radius:25px" required />
                    </div>
                </div>
                <div class="container d-flex align-items-center">
                    <!-- PRODUCT CATEGORY -->

                    <div class="form-group mb-4 m-3 px-3 p-2">
                        <label class="col-md-4 control-label mb-3" for="product_name">PRODUCT
                            CATEGORY</label>
                        <select class="form-select form-control-lg " aria-label="product category select "
                            name="category" required>
                            <option selected="" disabled> --Select-- </option>

                            {{#each Categorys}}
                            <option value="{{title}}">{{title}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <!-- PRODUCT SIZE -->

                    <div class="form-group mb-4 m-3 px-3 p-2">
                        <label class="col-md-4 control-label mb-3" for="product_size">PRODUCT
                            SIZE</label>
                        <select class="form-select form-control-lg " aria-label="product size select " name="size"
                            required>
                            <option selected="" disabled>--Select-- </option>
                            <option>Small</option>
                            <option>Medium </option>
                            <option>Large</option>
                            <option>XL </option>
                            <option>XXL</option>
                            <option>XXXL</option>

                        </select>
                    </div>

                    <!-- PRODUCT QUANTITY -->

                    <div class="form-group mb-4 m-3 px-3 p-2">
                        <label class="col-md-4 control-label mb-3" for="available_quantity">AVAILABLE QUANTITY</label>
                        <input id="available_quantity" min="1" name="quantity" placeholder="QTY"
                            class="form-control form-control-lg px-3" style="width: 100%;border-radius:25px" required=""
                            type="number" onchange="" />
                    </div>
                </div>

                <!-- add images   -->
                <div class="form-group mb-4 m-3 px-3 p-2">
                    <label class="col-md-4 control-label mb-3" for="image">ADD IMAGE</label>
                    <input class="form-control form-control-lg p-2" type="file" name="photos" id=""  multiple/>
                    {{!-- <div class="m-4">
                        <img style="width:50px;height:70px;" src="" alt="" id="addedImg">
                    </div> --}}
                </div>
                <!-- Textarea -->
                <div class="form-group mb-4 m-3 px-3 p-2">
                    <label class="col-md-4 control-label mb-3" for="product_description">PRODUCT DESCRIPTION</label>

                    <textarea class="form-control form-control-lg p-2" style="width: 50%;border-radius:5px"
                        id="product_description" name="description"></textarea>

                </div>

                <!-- Button -->

                <div class="form-group mb-4 m-3 px-3 p-2">
                    <button class="p-1" type="submit" style="width: 50%;border-radius:25px;">+
                        ADD PRODUCT</button>
                </div>

            </fieldset>
        </form>
    </div>

</section>