{{>adminNavbar}}
<section class=" admin-section d-flex gap-5">
    <aside id="side-Bar" class="position-fixed  px-3" style="width: fit-content;">

        <div class="side-bar">
            <a class="d-flex align-items-center text-secondary a-active gap-1" href="">
                <span class="material-icons-sharp m-3">grid_view</span>
                <h6>Dashboard</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="">
                <span class="material-icons-sharp p-2">insights</span>
                <h6>Analytics</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="">
                <span class="material-icons-sharp p-2">people_alt</span>
                <h6>Customers</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2" href="">
                <span class="material-icons-sharp p-2">receipt_long</span>
                <h6>Orders</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="">
                <span class="material-icons-sharp p-2">inventory</span>
                <h6>Products</h6>
            </a>

            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="">
                <span class="material-icons-sharp p-2">add</span>
                <h6>Add products</h6>
            </a>

        </div>
        <a class="d-flex align-items-center p-1 m-2 color-danger" id="admin-logout-btn" href="">
            <span class="material-icons-sharp p-2">logout</span>
            <h5>Logout</h5>
        </a>
    </aside>
    <div class="main">
        <div class="mx-3 pt-5 content-admin">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloribus placeat ut deleniti
                consequuntur, itaque eligendi ducimus sapiente, quos perferendis sequi
                quidem pariatur beatae dolores! Est mollitia non consectetur dolorum
                adipisci? Laudantium ratione, fugit non vitae eligendi necessitatibus
                tempora recusandae suscipit debitis, deleniti dolores officiis eaque
                dignissimos culpa qui, quidem alias iste quia!</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloribus placeat ut deleniti
                consequuntur, itaque eligendi ducimus sapiente, quos perferendis sequi
                quidem pariatur beatae dolores! Est mollitia non consectetur dolorum
                adipisci? Laudantium ratione, fugit non vitae eligendi necessitatibus
                tempora recusandae suscipit debitis, deleniti dolores officiis eaque
                dignissimos culpa qui, quidem alias iste quia!</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloribus placeat ut deleniti
                consequuntur, itaque eligendi ducimus sapiente, quos perferendis sequi
                quidem pariatur beatae dolores! Est mollitia non consectetur dolorum
                adipisci? Laudantium ratione, fugit non vitae eligendi necessitatibus
                tempora recusandae suscipit debitis, deleniti dolores officiis eaque
                dignissimos culpa qui, quidem alias iste quia!</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloribus placeat ut deleniti
                consequuntur, itaque eligendi ducimus sapiente, quos perferendis sequi
                quidem pariatur beatae dolores! Est mollitia non consectetur dolorum
                adipisci? Laudantium ratione, fugit non vitae eligendi necessitatibus
                tempora recusandae suscipit debitis, deleniti dolores officiis eaque
                dignissimos culpa qui, quidem alias iste quia!</h1>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Doloribus placeat ut deleniti
                consequuntur, itaque eligendi ducimus sapiente, quos perferendis sequi
                quidem pariatur beatae dolores! Est mollitia non consectetur dolorum
                adipisci? Laudantium ratione, fugit non vitae eligendi necessitatibus
                tempora recusandae suscipit debitis, deleniti dolores officiis eaque
                dignissimos culpa qui, quidem alias iste quia!</h1>
        </div>

    </div>

</section>