{{>adminNavbar}}
<section class=" admin-section d-flex gap-5">
    {{>adminSideBar}}
    <div class="vw-100 main px-5 pt-5 content-admin justify-content-center">
        <div class=" container-fluid p-3 mt-2 mb-5 box-shadow">
            <div class="container  border-primary">
                <h2 class="my-4 text-center">Order Details</h2>
                {{#each orderData}}
                
                {{/each }}
                <div class="table-responsive ">
                   
                </div>


            </div>
     

        </div>
    </div>



</section>

<!-- Modal -->