<nav class="nav-bar d-flex align-items-center vw-100">
    
        <div class="logo"><img class="img-fluid logo " src="/images/loko logo.png" alt=""></div>
        <div class="ms-3"><h2>Admin Panel</h2></div>
        
            <div class="profile d-flex align-items-center gap-2 ms-auto">
                <div class="profile_photo">
                    <img class="img-fluid" src="/images/Mike_Tyson.jpg" alt="">
                </div>
                <small>Mike Tyson</small>
            </div>
       
    </div>
</nav>