
 <aside id="side-Bar" class="position-fixed box-shadow zindex  px-3 d-flex flex-column align-items-center justify-content-between">

        <div class="side-bar">
            <a onclick="closeNav()"class="d-flex align-items-center text-secondary  gap-1 " href="#">
                <span class="material-icons-sharp m-3">grid_view</span>
                <h6>Dashboard</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="#">
                <span class="material-icons-sharp p-2">insights</span>
                <h6>Analytics</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="/admin/listusers">
                <span class="material-icons-sharp p-2">people_alt</span>
                <h6>Customers</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1" href="#">
                <span class="material-icons-sharp p-2">receipt_long</span>
                <h6>Orders</h6>
            </a>
            <a class="d-flex align-items-center text-secondary p-2 gap-1 " href="/admin/listproducts">
                <span class="material-icons-sharp p-2">inventory</span>
                <h6>Products</h6>
            </a>

            <a class="d-flex align-items-center text-secondary p-2 gap-1 " href="/admin/addproduct">
                <span class="material-icons-sharp p-2">add</span>
                <h6>Add products</h6>
            </a>

        </div>
        <a class="d-flex align-items-center p-1 m-2 mb-5 color-danger" id="admin-logout-btn" href="/admin/logout">
            
            <span class="material-icons-sharp p-2">logout</span>
            <h5>Logout</h5>
        </a>
    </aside>