<nav class="nav-bar d-flex align-items-center vw-100">
    
        <div class="logo"><img class="img-fluid logo " src="/images/loko logo.png" alt=""></div>        
            <div class="profile d-flex align-items-center gap-2 ms-auto">
                <div class="profile_photo">
                    <img class="img-fluid" src="/images/Mike_Tyson.jpg" alt="">
                </div>
                <small>Mike Tyson</small>
            </div>
       
    </div>
</nav>



<a
  class="dropdown-toggle hidden-arrow btn btn-primary"
  href="#"
  id="navbarDropdownMenuLink"
  role="button"
  data-mdb-toggle="dropdown"
  aria-expanded="false"
>
  dropdown
</a>
<ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
  <li>
    <div class="input-group mt-2 mx-2">
      <div class="form-outline w-auto">
        <input type="search" id="form1" class="form-control-dropdown" />
        <label class="form-label" for="form1">Search</label>
      </div>
    </div>
  </li>
  <li><hr class="dropdown-divider" /></li>
  <li><a class="dropdown-item" href="#">Action</a></li>
  <li><a class="dropdown-item" href="#">Another action</a></li>
  <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul>
