{{!-- <nav class="nav-bar d-flex align-items-center vw-100">

    <div class="logo"><img class="img-fluid logo " src="/images/loko logo.png" alt=""></div>
    <div class="profile d-flex align-items-center gap-2 ms-auto">
        <div class="profile_photo">
            <img class="img-fluid" src="/images/Mike_Tyson.jpg" alt="">
        </div>
        <small>Mike Tyson</small>
    </div>

    </div>




</nav> --}}
 <nav class="navbar nav-bar navbar-expand-lg ">
      <div class="container-fluid">
    <div class="logo"><img class="img-fluid logo " src="/images/loko logo.png" alt=""></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
      </div>
    </nav>