<section class="vh-100 ">
    <div class="d-flex justify-content-center align-items-center h-100">

        <div class="card-body p-5" style="max-width:500px;">

            <h2 class="text-center mb-5">Change Password</h2>
            <form id="changePasswordForm" method="post" action="/changePassword">
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password1" name="password1" class="form-control p-2" />
                    <small class="text-danger px-2" id="passwordErr"></small>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">Confirm password</label>
                    <input type="password" id="password2" name="password2" class="form-control p-2" />
                    <small class="text-danger " id="confpasswordErr"></small>
                </div>

                <div class=" mb-4 my-3 mx-auto p-2 d-flex justify-content-center" style="width: 100%;">
                    <input type="submit" class="col-xs-12 btn btn-dark btn-load"
                        data-loading-text="Changing Password..." value="Change Password">
                </div>
            </form>


        </div>
    </div>
</section>