<script type="text/javascript">
window.history.forward();
function noBack(){
    window.history.forward();
}
</script>


{{>userNavbar}}


<div class="container mt-5 py-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">
                <div class="text-left logo p-2 px-5">
                 <span id="orderdone" class="material-icons-sharp"></span>
                </div>
                <div class="invoice p-5">
                    <h5>Your order Confirmed!</h5>
                    <span class="font-weight-bold d-block mt-4">Hello, {{user.name}} </span>
                    <span>You order has been confirmed and will be shipped in next two days!</span>
            </div>

        </div>

    </div>

</div>



<script>
    const mytimeout=setTimeout(displayText,1000)
    function displayText(){
        document.getElementById("orderdone").innerHTML="done_outline"
    }
    setTimeout(()=>{
        location.href='/orders'
    },4000)
</script>