<section class="vh-100 ">
  <div class="mask d-flex align-items-center  justify-content-center">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              {{#if message}}
              <div>
                <h5>{{message}} <a href="/login" class="fw-bold text-body"><u class="text-primary">Login here</u></a>
                </h5>

              </div>

              {{else}}
              <div>
                <h2 class="text-center mb-5">Create an account</h2>
                <form action="/signup" method="post" id="signupForm">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="signupname">Your Name</label>
                    <input type="text" id="signupname" name="name" class="form-control p-2" />
                    <small class="text-danger px-2" id="signameErr"></small>

                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="signupemail">Your Email</label>
                    <input type="email" id="signupemail" onblur="javascript:value=value.replace(/\s/g,'');" name="email" class="form-control p-2"/>
                    <small class="text-danger px-2" id="signemailErr"></small>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="signuppassword">Password</label>
                    <input type="password" id="signuppassword" name="password" class="form-control p-2"/>
                    <small class="text-danger px-2" id="sigpasswordErr"></small>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="signupconfirmPassword">Confirm password</label>
                    <input type="password" id="signupconfirmPassword" name="confirmPassword" class="form-control p-2"/>
                    <small class="text-danger " id="confpasswordErr"></small>
                  </div>

                  <div class=" mb-4 my-3 mx-auto p-2 d-flex justify-content-center" style="width: 100%;">
                    <button class=" user-login-btn p-1" type="submit"
                      style="width: 30%;border-radius:25px;font-size: 20px;">Register</button>
                  </div>
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                      class="fw-bold text-body"><u class="text-primary">Login Here</u></a></p>

                </form>
              </div>

              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>