<link rel="stylesheet" href="/stylesheets/userSignup.css" />



<section class="container-fluid form-section  d-flex align-items-center justify-content-center">
  <div class="container ">
    <div class="row ">
      <div class="col-lg-10 col-md-12 login-box">
        <div class="row">
          <div class="col-lg-6 col-md-6 box-de">
            <div class="inn-cover">
              <div class="ditk-inf">
                <h2 class="w-100"> Already Have an Account ? </h2>
                <p>Log in to access exclusive discounts, order tracking, and a convenient wishlist feature. sign up now
                  and step
                  into a world of possibilities!</p>
                <a href="/login">
                  <button type="button" class="btn button">LOGIN NOW</button>
                </a>

              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 log-det">
            <div class="d-flex align-items-center gap-md-4">
              <img height="30px" src="/images/favicon.jpg" alt="">
              <h3 class="text-center">User Signup</h3>
            </div>
            <form class="text-box-cont" action="/signup" method="post" id="signupForm">

              <div class="input-group mt-4">
                <div class="input-group-prepend">
                  <label for="signupname">
                    <span class="input-group-text" id="basic-addon1"><span class="material-icons-sharp">
                        person
                      </span></span>
                  </label>
                </div>
                <input type="text" id="signupname" name="name" onblur="javascript:value=value.replace(/\s/g,'');"
                  class="form-control" placeholder="Name" aria-label="email address">
              </div>
              <small class="text-danger" id="signameErr"></small>

              <div class="input-group mt-4">
                <div class="input-group-prepend">
                  <label for="userEmail">
                    <span class="input-group-text" id="basic-addon1"><span class="material-icons-sharp">
                        email
                      </span></span>
                  </label>
                </div>
                <input type="email" onblur="javascript:value=value.replace(/\s/g,'');" id="signupemail" name="email"
                  class="form-control" placeholder="Email Address" aria-label="email address">
              </div>
              <small id="signemailErr" class="text-danger"></small>


              <div class="input-group mt-4 position-relative">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="material-icons-sharp">
                      key
                    </span></span>
                </div>
                <span class="material-icons-sharp align-self-end  toggle-password" id="eye1"
                  onclick="togglePassword(signuppassword,eye1)">
                </span>
                <input type="password" id="signuppassword" class="form-control" name="password" placeholder="Password"
                  aria-label="Password" onclick="showeye(eye1)">
              </div>
              <small id="sigpasswordErr" class="text-danger"></small>


              <div class="input-group mt-4 position-relative">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="material-icons-sharp">
                      key
                    </span></span>
                </div>
                <span class="material-icons-sharp align-self-end  toggle-password" id="eye2"
                  onclick="togglePassword(signupconfirmPassword,signupconfirmPassword)">
                </span>
                <input type="password" id="signupconfirmPassword" class="form-control" name="password"
                  placeholder="Password" aria-label="Password" onclick="showeye(eye2)">

              </div>
              <small id="confpasswordErr" class="text-danger"></small>

              <div class="input-group center mt-4">
                <button class="btn btn-dark btn-round" type="submit" id="signup_btn"><span class="login_submit"
                    id="signup_submit">CREATE ACCOUNT</span>
                  <span class="spinner-border m-auto text-white p-2 spinner-border-sm" id="spinner_signup"
                    style="display:none;" role="status"> </span>
                </button>
              </div>
            </form>
            {{#if message}}
            <div class="form-outline m-1">
              <h6 class="text-danger">{{message}}<a href="/login" class="fw-bold text-body"><u
                    class="text-primary">Login here</u></a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
  function togglePassword(inputId, iconId) {
    let password = document.getElementById(inputId)
    if (inputId.type === "password") {
      inputId.type = "text";
      iconId.innerHTML = "visibility"
    } else {
      iconId.innerHTML = "visibility_off"
      inputId.type = "password";
    }
  }
  function showeye(icon) {
    icon.innerHTML = "visibility_off"
  }
</script>