<section class="vh-100 ">
  <div class="mask d-flex align-items-center  justify-content-center">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              {{#if message}}
              <div>
<h5>{{message}} <a href="/login" class="fw-bold text-body"><u class="text-primary">Login here</u></a></h5>

              </div>

             {{else}}
             <div>
 <h2 class="text-center mb-5">Create an account</h2>
              <form action="/signup" method="post">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="name" class="form-control p-2" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" class="form-control p-2" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" name="confirmPassword" class="form-control p-2" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" name="password" class="form-control p-2" />
                  <label class="form-label" for="form3Example4cdg">Confirm password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" required />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                {{!-- <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-dark btn-block btn-lg gradient-custom-4 text-white rounded-pill px-5">Register</button>
                </div> --}}
                <div class=" mb-4 my-3 mx-auto p-2 d-flex justify-content-center" style="width: 100%;">
                  <button class=" user-login-btn p-1" type="submit"
                    style="width: 30%;border-radius:25px;font-size: 20px;">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u class="text-primary">Login Here</u></a></p>

              </form>
             </div>
             
 {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>