
<link rel="stylesheet" href="/stylesheets/userSignup.css" />

 
          <div class="card form-div rounded " >
            <div class="card-body">
              {{#if message}}
              <div>
                <h5>{{message}} <a href="/login" class="fw-bold text-body"><u class="text-primary">Login here</u></a>
                </h5>
              </div>
              {{else}}
              <div>
                <h2 class="text-center mb-3">Create an account</h2>
                <form action="/signup" method="post" id="signupForm">
                  <div class="form-outline mb-2">
                    <label class="form-label" for="signupname">Your Name</label>
                    <div class="position-relative">
                      <input type="text" id="signupname" name="name" class="form-control p-2 ps-5" />
                      <span class="material-icons-sharp icon p-2">
                        person
                      </span>
                    </div>
                    <small class="text-danger px-2" id="signameErr"></small>

                  </div>
                  <div class="form-outline mb-2">
                    <label class="form-label" for="signupemail">Your Email</label>
                    <div class="position-relative">
                      <input type="email" id="signupemail" onblur="javascript:value=value.replace(/\s/g,'');"
                        name="email" class="form-control p-2 ps-5" />
                      <span class="material-icons-sharp icon p-2">
                        mail
                      </span>
                    </div>
                    <small class="text-danger px-2" id="signemailErr"></small>
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label" for="signuppassword">Password</label>
                    <div class="d-flex position-relative" style="flex-direction:column;">
                      <input type="password" id="signuppassword" name="password" class="form-control py-2 ps-5" />
                      <span class="material-icons-sharp icon p-2">
                        lock
                      </span>
                      <span class="material-icons-sharp key p-2 align-self-end" id="eye1" onclick="togglePassword()">
                        visibility_off
                      </span>
                    </div>
                    <small class="text-danger px-2" id="sigpasswordErr"></small>
                  </div>
                  <div class="form-outline mb-2">
                    <label class="form-label" for="signupconfirmPassword">Confirm password</label>
                    <div class="d-flex position-relative" style="flex-direction:column;">
                      <input type="password" id="signupconfirmPassword" name="confirmPassword"
                        class="form-control p-2 ps-5" />
                      <span class="material-icons-sharp icon p-2">
                        lock
                      </span>
                      <span class="material-icons-sharp key p-2 align-self-end " id="eye2" onclick="toggleConfirmPassword()">
                        visibility_off
                      </span>
                    </div>
                    <small class="text-danger " id="confpasswordErr"></small>
                  </div>

                  <div class=" mb-2 mx-auto p-2 d-flex justify-content-center" style="width: 100%;">
                    <button class="b-radius btn btn-dark btn-lg px-5" type="submit"
                    >Register</button>
                  </div>
                  <p class="text-center text-muted ">Have already an account? <a href="/login"
                      class="fw-bold text-body"><u class="text-primary">Login Here</u></a></p>
                </form>
              </div>
              {{/if}}
            </div>
          </div>
        


<script>

  let password = document.getElementById("signuppassword")
  let confpass = document.getElementById("signupconfirmPassword")
  let eye1=document.getElementById("eye1")
  let eye2=document.getElementById("eye2")
  function togglePassword() {
    if (password.type === "password") {
      password.type = "text";
      eye1.innerHTML = "visibility"

    } else {
      eye1.innerHTML = "visibility_off"
      password.type = "password";
    }
  }
  function toggleConfirmPassword() {
    if (confpass.type === "password") {
      confpass.type = "text";
      eye2.innerHTML = "visibility"

    } else {
      eye2.innerHTML = "visibility_off"
      confpass.type = "password";
    }
  }
</script>